@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

/* || VARIABLES */
:root {
  /* COLORS */
  --clr-bright-blue: hsl(245, 75%, 52%);
  --clr-dark-blue: hsl(223, 47%, 23%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --clr-pale-blue: hsl(225, 100%, 94%);
  --clr-very-pale-blue: hsl(225, 100%, 98%);

  /* FONTS */
  --ff-red-hat-display: "Red Hat Display", sans-serif;
}

/* || RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* || GENERAL STYLES */
body {
  align-items: center;
  background-color: var(--clr-pale-blue);
  background-image: url(images/pattern-background-mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: row;
  font-family: var(--ff-red-hat-display);
  justify-content: center;
  min-height: 100vh;
}

/* || CARD */
.card {
  background-color: white;
  border-radius: 20px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  max-width: 27.5rem;
  overflow: hidden;
}

/* || CARD IMAGE */

/* || CARD BODY */
.card__body {
  text-align: center;
}

.card__title {
  color: var(--clr-dark-blue);
  font-size: 1.4rem;
  font-weight: 900;
  padding: 1.3em 0 0.8em 0;
}

.card__text {
  color: var(--clr-desaturated-blue);
  font-size: 0.95rem;
  line-height: 1.6;
  padding: 0 2.1em 1.4em 2.1em;
}

/* || PLAN */

.plan {
  align-items: center;
  background-color: var(--clr-very-pale-blue);
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 1.5em 1.5em 1.5em;
  padding: 1em;
}

.plan img {
  display: block;
}

.left__element {
  display: flex;
}

.plan__details {
  display: flex;
  flex-direction: column;
  font-size: 0.7rem;
  gap: 0.2em;
  justify-content: center;
  padding-left: 1.2em;
  text-align: left;
}

.plan__details h2 {
  color: var(--clr-dark-blue);
  font-size: 0.9rem;
}
.plan__details p {
  color: var(--clr-desaturated-blue);
  font-size: 0.8rem;
}

.right__element a {
  color: var(--clr-bright-blue);
  font-size: 0.8rem;
  font-weight: 700;
  opacity: 1;
}

.right__element a:hover {
  opacity: 0.8;
  text-decoration: none;
}

.right__element a:focus {
  text-decoration: none;
}

/* || BUTTONS */
.card__buttons {
  display: flex;
  flex-direction: column;
  gap: 0.65em;
  justify-content: center;
  margin-bottom: 1.5em;
  text-align: center;
}

.buttons {
  all: unset;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  font-size: 0.95rem;
  font-weight: 700;
  margin-left: 1.5em;
  margin-right: 1.5em;
  padding: 1em;
}

/* || PROCEED BUTTON */

.proceed__button {
  background: var(--clr-bright-blue);
  box-shadow: 0 15px 20px 0 hsla(245, 75%, 52%, 0.25);
  color: white;
}

.proceed__button:hover {
  opacity: 0.8;
}

/* || CANCEL BUTTON */

.cancel__button {
  color: var(--clr-desaturated-blue);
}

.cancel__button:hover {
  color: var(--clr-dark-blue);
}

/* || MEDIA QUERIES */

@media (min-width: 450px) {
  body {
    background: url(images/pattern-background-desktop.svg), var(--clr-pale-blue);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .card__title {
    font-size: 1.7rem;
    padding-top: 1.7em;
    padding-bottom: 0.7em;
  }

  .card__text {
    font-size: 1.05rem;
    padding-left: 3em;
    padding-right: 3em;
  }

  .plan {
    margin: 0 3em 2em 3em;
    padding: 1.5em;
  }

  .plan__details h3 {
    font-size: 1.05rem;
  }

  .plan__details p {
    font-size: 1.05rem;
  }

  .right_element a {
    font-size: 0.9rem;
  }

  .buttons {
    margin-left: 3em;
    margin-right: 3em;
  }
}
